.cards {
  display: grid;
  @include grid(repeat(5, 1fr), 30px);
  margin-top: $large;

  .card {
    @include flex(center, none, center);

    img {
      width: 50px;
      margin-right: $md;
      border-radius: 50%;
    }
  }
}